@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-principal: #6E859F;
    --cor-secundaria: #284260;
    --cor-destaque: #C92BFC;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-color: #f8f9fa;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead {
    color: var(--cor-destaque);
    font-weight: 700;
}

.btn-link {
    color: var(--cor-destaque);
    font-weight: 600;
    text-decoration: none;
}

.btn-link:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

footer {
    margin-top: 50px;
    color: var(--cor-principal);
}
